{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-4 bg-light">
		Bienvenue dans la page d'administration du site. Si vous êtes là c'est que vous êtes administrateur.
	</div>
{% endblock %}